.card-shadow {
    /* border-radius: 10px 20px 30px 40px; */
    border-radius: 40px;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card-shadow:hover {
    transform: translate(0.3px, -3px);
}

.card-shadow:not(:hover){
    transform: translate(-0.3px, 3px);
}

.body-background {
    /* background-color: #3E3D32 */
}